/*#about .owl-carousel .owl-item {*/
/*    float: right;*/
/*    margin-left: 25px;*/
/*    margin-right: 0 !important;*/
/*}*/
.list.list-icons li > [class*="fa-"]:first-child{
    right: 0!important;
    left: auto;
}
#footer img{
    right: -104px;
    left:0 !important;
}
.testimonial .testimonial-arrow-down{
    margin: 0 45px 0 0;
}
#header .header-nav-features:before, #header .header-nav-features:after{
    left: 0;
    right: initial;
}
#header .header-nav-features .header-nav-features-dropdown {
    margin-right: -25px;
}
#header .header-nav-features .header-nav-features-dropdown:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    transform: translate3d(-7px, -6px, 0);
}
